/javaee/html5/target/
/javaee/myHtml5/target/
/javaee/MyCDIGreeting/target/
/javaee/MyCDISimpleGreeting/target/
/javaee/MyCDIGuessNumber/target/
/javaee/MyCDIEncodeAlternatives/target/
/javaee/MyCDIProducerMethod/target/
/javaee/MyCDIProducerField/target/
/javaee/MyCDIPayment/target/