/javaee/html5/target/
/javaee/myHtml5/target/
/javaee/MyCDIGreeting/target/
/javaee/MyCDISimpleGreeting/target/
/javaee/MyCDIGuessNumber/target/
/javaee/MyCDIEncodeAlternatives/target/
/javaee/MyCDIProducerMethod/target/
/javaee/MyCDIProducerField/target/
/javaee/MyCDIPayment/target/
/javaee/MyCDIDecorating/target/
/javaee/MyWSHelloService-war/target/
/javaee/TestWS/target/
/javaee/MyWSHello-appClient/target/
/javaee/myws-service/target/
/javaee/myws-client/nbproject/private/
/javaee/myws-client/build/
/javaee/CalculatorWebService/nbproject/private/
/javaee/CalculatorWebService/build/
/javaee/MyWSHelloService/target/
/javaee/MyWSAppClient/target/
/javaee/MySWWebClient/target/
/javaee/JaxrsHelloWorld/target/
/javaee/MyJaxRS-rsvp/target/
/javaee/MyPersistence-Order/target/
/javaee/my-persistence-address-book/nbproject/private/
/javaee/my-persistence-address-book/dist/
/javaee/my-persistence-address-book/build/
/javaee/my-address-book/nbproject/private/
/javaee/my-address-book/build/
/javaee/my-address-book/dist/
/javaee/persistence-address-book/target/
/javaee/My-JaxRS-rsvp/target/
/javaee-jb/.*
/javaee-jb/RemoteSystemsTempFiles
/javaee-jb/examples



